NEXT_PUBLIC_SUPABASE_URL=""


NEXT_PUBLIC_GAS_URL="" #貼到gas 上面網址
NEXT_PUBLIC_EDGE_FUNCTION_PUSH="" #line notify

NEXT_PUBLIC_EDGE_FUNCTION="" #貼到line bot 上面網址

SUPABASE_SERVICE_ROLE_K="" # For backend logic


NODE_ENV=""


